* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  color: aliceblue;
}

:root {
  --main-color: rgba(45, 76, 200, 0.8);
  --container-color: #293b86;
  --sub-color: #2b3fa2;
  --hover-color: red;
  --footer-color: #2d4cc8;
}

.darkmode {
  --main-color: rgba(80, 0, 0, 0.8);
  --container-color: #920a0a;
  --sub-color: #af0505;
  --hover-color: #293b86;
  --footer-color: #500000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0%;
  /* background-color: rgba(45, 76, 200, 0.8); */
  background-color: var(--main-color);
  padding: 10px;
}

.nav-item {
  padding: 16px 24px;
  text-decoration: none;
}

.nav-item:hover {
  background-color: var(--hover-color);
}

.mode {
  padding: 16px 24px;
  background-color: var(--footer-color);
  text-decoration: none;
  border: 0px;
}

.mode:hover {
  background-color: var(--hover-color);
}

body {
  display: flex;
  width: 100vw;
  height: 150vh;
  justify-content: center;
  flex-direction: column;
  /* background-color: #1c254f; */
  background-image: url(aset/Light2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container-content {
  /* background-color: #293b86;
  border: 1px solid #293b86; */
  background-color: var(--container-color);
  border: 1px solid var(--container-color);
  margin: auto;
  padding: 4px 12px;
}

.sub-container {
  /* background-color: #2b3fa2;
  border: 1px solid #2b3fa2; */
  background-color: var(--sub-color);
  border: 1px solid var(--sub-color);
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px;
}

.sub-container2 {
  /* background-color: #2b3fa2;
  border: 1px solid #2b3fa2; */
  background-color: var(--sub-color);
  border: 1px solid var(--sub-color);
  border-radius: 4px;
  margin-bottom: 20px;
}

.container-tier {
  display: flex;
  flex-direction: row;
}

.foto-diri {
  width: 300px;
  height: 300px;
  align-items: center;
  padding: 10px 10px 10px 10px;
  margin: auto;
  border-radius: 50%;
}

.tier-S {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  background: #e57373;
}

.tier-A {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  background: #ffb74d;
}

.tier-B {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  background: #fff176;
}

.tier-C {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  background: #aed581;
}

.tier-D {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  background: #81c784;
}

.karakter {
  padding: 10px 10px 10px 10px;
}

.sub-container:last-child {
  display: grid;
  justify-content: center;
  text-align: center;
}

.sub-container:last-child input {
  color: darkblue;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #2d4cc8; */
  background-color: var(--footer-color);
  padding: 10px;
}

@media (min-width: 1024px) {
  .container-content {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
  }
}
